.git
.env
.env.*
!.env.example
database/*.sqlite
database/*.sqlite-journal
database/*.sqlite-wal
database/*.sqlite-shm
database/*.sqlite.backup-*
storage/app/*
!storage/app/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/logs/*
bootstrap/cache/*.php
node_modules
vendor
